<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>

<body>

<div th:if="${error!=null}" style="text-align: center">
    <span style="background-color: lightpink" th:text="${error}"></span>


</div>


<div th:switch="${login}">
    <div th:case="null">

        <form action="/reg" method="post">
            <div>
                Login:<input name="login">
            </div>
            <div>
                Password:<input name="password" type="password">
            </div>
            <div>
                <input type="submit">
            </div>
        </form>
        <hr>

        <form action="/auth" method="post">
            <div>
                Login:<input name="login">
            </div>
            <div>
                Password:<input name="password" type="password">
            </div>

            <div>
                <input type="submit" value="Authorization">
            </div>
        </form>
        <hr>

    </div>
    <div th:case="*">
        <span th:text="'Hello, ' + ${login} + '!'"/>
        <br>

        <a href="/out">Logout</a>
    </div>


</div>










<table>
    <th:block th:each="user : ${users}">
        <tr>
            <td th:text="${user.login}">...</td>
            <td> <a th:href="@{/del(login=${user.login})}">Delete</a> </td>

        </tr>


    </th:block>


</table>



</body>
</html>